---
import type { getUserMostClickedLinks } from "~/lib/models/linkanalytics.server";

export interface Props {
  commonLinks: Awaited<ReturnType<typeof getUserMostClickedLinks>>;
}

const { commonLinks } = Astro.props;
---

<section class="mb-2 max-w-3xl border border-card-border bg-card px-4 py-2">
  <h3 class="mb-2 block break-words text-xl font-normal lowercase">
    Most commonly clicked links
  </h3>
  <p class="mb-2 break-words">These are the links you keep coming back to:</p>
  <ul class="flex flex-wrap gap-2">
    {
      commonLinks.map(({ link, clicks }) => (
        <li class="list-inside list-disc">
          <a
            href={link.url}
            target="_blank"
            rel="noreferrer nofollow"
            class="mb-2 break-all font-normal text-link visited:text-link-visited hover:underline active:text-link-active visited:active:text-link-active common-link-link"
            data-umami-event="common-link"
            data-link-id={link.id}
          >
            {link.url}
          </a>
          {` (${clicks})`}
        </li>
      ))
    }
  </ul>
</section>

<script>
  document
    .querySelectorAll<HTMLAnchorElement>("a.common-link-link")
    .forEach((link) => {
      link.addEventListener("click", () => {
        const linkId = link.dataset.linkId;
        if (!linkId) {
          return;
        }

        const formData = new FormData();
        formData.append("type", "click");
        navigator.sendBeacon(`/links/${linkId}/on`, formData);
      });
    });
</script>
